@font-face {
    font-family: gilroy;
    src: url(assets/font/Gilroy-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: gilroy;
    src: url(assets/font/Gilroy-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: gilroy;
    src: url(assets/font/Gilroy-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: gilroy;
    src: url(assets/font/Gilroy-Bold.ttf);
    font-weight: 700;
}